[submodule "libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "wasm3"]
	path = deps/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "mbedtls"]
	path = deps/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "quickjs-ng"]
	path = deps/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "deps/wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
